services:
    app:
        build:
            context: ../
            dockerfile: docker/Dockerfile
        env_file:
            - ../.env
        image: firo1919/maaedbackend
        ports:
            - '8080:8080'
        depends_on:
            db:
                condition: service_healthy
        restart: unless-stopped
    db:
        env_file:
            - ../.env
        image: postgres:18
        restart: unless-stopped
        volumes:
            - db_data:/var/lib/postgresql/18/data
        healthcheck:
            test:
                ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB']
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s

volumes:
    db_data:
