services:
    db:
        environment:
            - POSTGRES_USER
            - POSTGRES_PASSWORD
            - POSTGRES_DB
        image: postgres:18
        restart: unless-stopped
        volumes:
            - db_data:/var/lib/postgresql/18/data
        ports:
            - '5432:5432'
        healthcheck:
            test:
                ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB']
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s
    adminer:
        image: adminer
        restart: always
        ports:
            - 4000:8080

volumes:
    db_data:
